.container {
  margin: 3rem auto;
  border-radius: 25px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 2rem;
}
.container:hover {
  cursor: default;
}
.help {
  display: absolute;
  float: right;
}
.help:hover {
  cursor: pointer;
}
.defaultButton {
  width: 250px;
  border-radius: 10px;
  padding: 2rem;
  text-align: center;
  font-size:150%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
