.poweredBy {
    position: fixed;
    bottom: 40px;
    right: 40px;
    text-align: center;
}

.iconHolder {
    display: flex;
}

.icon {
    margin: 10px;
    color: inherit;
    text-decoration: none;
    transition: transform .25s;
}

.icon:hover {
    transform: scale(1.1);
}

.rtg__modal {
    z-index: 20;
}

.rtg__step {
    color:black;
}