@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.headerbar {
  background-color: #4697ce;
  width: 100vw;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  z-index: 10;
}

.app-title {
  text-decoration: none;
  font-size: 2rem;
  color: #f5f5f5;
  margin: 0 auto;
  transition: transform 0.25s;
}

.app-title:hover {
  transform: scale(1.1);
}
  
.menu-bars {
  justify-content: left;
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: #464957;
  width: 250px;
  margin-top: 80px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 8px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
  transition: transform .25s;
}

.nav-text a:hover {
  background-color: #4697ce;
  transform: scale(1.1);
}

.nav-menu-items {
  width: 100%;
}