.cellContainer {

}

/* Navbar container */
.editor-nav {
  overflow: hidden;
  background-color: #464957;
  z-index: 4;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 5;
}

/* Add a red background color to navbar links on hover */
.navbar div:hover, .dropdown:hover .dropbtn {
  background-color: #4697ce;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content button:hover {
  background-color: #ddd;
}


/* Buttons inside the dropdown */
.dropdown-content button {
  width: 100%;
  padding: 16px 8px;
  color: black;
  border: none;
  display: block;
  text-align: left;
}

.btn_scrollTop {
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #4697ce; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

.btn_scrollTop:hover {
  background-color: #464957; /* Add a dark-grey background on hover */
}

.sagecell_poweredBy {
  display: none;
}
