table {
  text-align: center;
  padding: 10px;
  border: 1px solid black;
  background-color: inherit;
  width: 100%;
}

/* tr {
} */

td {
  padding: 10px;
  width: 200px;
}
th {
  width: 200px;
  padding: 10px;
}

.link {
  text-align: left;
}

.menuButton {
  border-radius: 4px;
  font-size: 16px;
  padding: 8px 16px;
  transition-duration: 0.25s;
}

.menuButton:hover {
  background-color: #4697ce;; /* Green */
  color: white;
}