/*Default page padding and formatting.*/

.page-content {
    padding-left: 350px;
    padding-right: 100px;
    padding-top: 150px;
}

/* These happen when you toggle dark mode */
body.light-mode {
    background-color: #fff;
    color: #333;
    transition: background-color 0.3s;
}

body.dark-mode {
    background-color: #333;
    color: #fff;
    transition: background-color 0.3s;
}